doctype html
html
  head
    title Página de Ahorros
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    h1 Bievenido a su Página de Ahorros
    h3 ¿Qué acción desearía realizar?

    // Barra de navegación
    div.navbar
      nav
        a(href='/Insertar') Insertar Cuenta Ahorros
        a(href='/modificar') Modificar y Consultar Cuenta Ahorros
        a(href='/eliminar') Eliminar Cuenta Ahorros

    // Contenedor para la imagen centrada
    div.centered-image-container
      img(src='/images/Ahorros.gif', alt='Ahorros')
